html{
    background-color: #808080;
}
body{
    width: 600px;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
}
#parrafo1 blockquote{
    font-family: Arial;
    font-size: 12px;
    text-align: justify;
}
#bloque1 blockquote{
    font-family: Arial;
    font-size: 12px;
    text-align: justify;
}
#visitanos button{
    background-color: #ffffff;
    padding: 10px;
    margin: 5px;
    border: #000;
    border-radius: 10px;
    cursor: pointer;
}