html{
    background-color: #808080;
}
body{
    width: 600px;
    margin: 0 auto;
    padding: 30px 30px 30px 30px;
    border: 5px solid black;
}
img{
    width: 600px;
}
#menu button{
    background-color: #ffffff;
    padding: 5px;
    margin:5px;
    border:#0000;
    border-radius:10px;
    cursor:pointer;
}
#parrafo1 blockquote{
   font-size: 13px;
   font-family: Arial;
   text-align: justify; 
}
#parrafo2 blockquote{
    font-size: 13px;
   font-family: Arial; 
   text-align: justify;
}
#banner h2{
    font-family: Cambria;
    font-size: 15px;
    text-align:center;
}